<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kendraslaptop.example.com.everydaytasks">
    <permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Journal"
            android:label="@string/app_name"/>
        <activity android:name=".JournalEntriesLog"
            android:label="@string/app_name"/>
        <activity android:name=".SleepEntry"
            android:label="@string/app_name"/>
        <activity android:name=".SleepLogs"
            android:label="@string/app_name"/>
        <activity android:name=".PreviousEntries"
            android:label="@string/app_name"/>
        <activity android:name=".TodoList"/>
        <activity android:name=".SingleSleepLogEntry"
            android:label="EveryDayTasks"/>
        <activity android:name=".SingleJournalEntry"
            android:label="EveryDayTasks"/>
    </application>
</manifest>